<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brands</title>
</head>
<body>
    <%- include('nav') %>
    <main>
        <h2>Brands Page</h2>
        <% for (const row of rows) { %>
            <div>
                <h3><a href=<%- `/brand/${row.brand_id}` %>><%= row.brand_name %></a></h3>
                <p><%= row.brand_desc %></p>
                <p><%= row.brand_id %></p>
            </div>
        <% } %>
    </main>
</body>
</html>