<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory Application</title>
</head>
<body>
    <%- include('nav') %>
    <main>
        <h2>Items Page</h2>
        <% for (const row of rows) { %>
            <div>
                <h3><a href=<%- `/item/${row.item_id}` %>><%= row.item_name %></a></h3>
                <p>Id: <%= row.item_id %></p>
                <p>Stock: <%= row.item_stock %></p>
                <p>Category: <%= row.cat_name %></p>
                <p>Brand: <%= row.brand_name %></p>
            </div>
        <% } %>
    </main>
</body>
</html>